<h1>Key Server</h1>

<table>
  <tr>
    <td>
      <%= button_to 'Generate', "keys#create", :class => 'btn',
                method: :create %>
    </td>
    <td>
      <%= button_to 'Get Key', block_keys_path , :class => 'btn', method: :get %>
    </td>
  </tr>
</table>

<p>
  <%= form_for :key, url: delete_keys_path do |f| %>
    <%= f.text_field :value %>
    <%= f.submit "Delete"%>
  <% end %>

  <%= form_for :key, url: unblock_keys_path, :html => {:method => :get} do |f| %>
    <%= f.text_field :value %>
    <%= button_to "Unblock", method: :get %>
  <% end %>

  <%= form_for :key, url: keep_alive_keys_path, :html => {:method => :get}  do |f| %>
    <%= f.text_field :value %>
    <%= f.submit "Keep Alive"%>
  <% end %>
</p>
